@import "../../app.global.scss";

.formContainer {
  width: 100%;
  border-radius: 4px;
  @include AlignCenter;
  align-items: center;
  @include Direction-Col;
  max-width: 430px;
  box-shadow: 6px 5px 10px 2px lightgray;
  padding: 0.8em;
}

form {
  width: 80%;
  margin: 1em 0 auto;
}

.heading {
  color: $heading-text-color;
  letter-spacing: normal;
  line-height: 1.3;
  font-size: 24px;
  margin-bottom: 0.5em;
  text-align: center;
}
