@import "../../app.global.scss";

.input {
  padding: 15px 8px 15px 48px;
  border: 1px solid #ebebeb;
  font-size: 14px;
  line-height: 1.35;
  border-radius: 4px;
  width: 100%;
  outline: 0;
  z-index: 10;
  &:focus {
    border: 1px solid #2d3b4e;
    box-shadow: inset 0 0 0 1px #2d3b4e;
  }
}

.individual {
  margin-bottom: 1.2em;
}
